@model QRSCS.Models.CreateTeacherModel

@{
    ViewBag.Title = "Create Teacher";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Teacher Create Modal-->
<!--Main container start -->

<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title">Create & Assign Teacher</h4>
        <ul class="db-breadcrumb-list">
            <li>
                <a href="#"><i class="fa fa-home"></i>Editor View</a>
            </li>
            <li>Create & Assign Teacher</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-12 m-b30">
            <div class="widget-box">
                <div class="wc-title">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalTitle">Create Teacher</h5>
                            <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <div class="modal-body">

                            @using (Html.BeginForm("CreateTeacher", "Teacher", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
                            {
                                <div class="">

                                    <!--<div class="col-sm-4 m-auto ">
                                        <div class="form-group row">
                                            <div class="circle">-->
                                                <!-- User Profile Image -->
                                                <!--<img id="pics" class="profile-pic" src="" style="width : 100%; height:100%; ">-->

                                                <!-- Default Image -->
                                                <!-- <i class="fa fa-user fa-5x"></i> -->
                                            <!--</div>
                                            <div class="p-image">
                                                <i class="fa fa-camera upload-button"></i>
                                                <input class="file-upload" type="file" name="ImageFile" accept="image/*" id="file" />
                                            </div>

                                        </div>

                                    </div>-->

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Name</label>
                                        <div class="col-sm-9">
                                            @*<input class="form-control" type="text" value="">*@
                                            @Html.TextBoxFor(x => x.Teacher_Name, null, new
                                            {
                                                @class = "form-control",
                                                type = "text",
                                                value = "",
                                                placeholder = "Enter Teacher Name ",
                                                id = "Teacher_N"
                                       })
                                            @Html.ValidationMessageFor(x => x.Teacher_Name, null, new { style = "color:red" })

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Gender</label>
                                        <div class="col-sm-9">
                                            @Html.DropDownListFor(x => x.Gender, new List<SelectListItem>
                           { new SelectListItem() { Text = "Please Select" },
                             new SelectListItem() { Text = "Male" },
                             new SelectListItem() { Text = "Female" }
                           }, new { @class = "form-control", id = "Gen" })
                                            @Html.ValidationMessageFor(x => x.Gender, null, new { style = "color:red" })
                                            @*<select class="form-control" id="col-sm-2 col-form-label">
                                                    <option></option>
                                                    <option value="volvo">Male</option>
                                                    <option value="saab">Female</option>
                                                </select>*@
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">NIC #</label>
                                        <div class="col-sm-9">
                                            @*<input class="form-control" type="text" value="">*@
                                            @Html.TextBoxFor(x => x.NIC, null, new { @Class = "form-control", placeholder = "NIC #", id = "NIC" })
                                            @Html.ValidationMessageFor(x => x.NIC, null, new { style = "color:red" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Contact #</label>
                                        <div class="col-sm-9">
                                            @*<input class="form-control" type="text" value="">*@
                                            @Html.TextBoxFor(x => x.Contact, null, new { @Class = "form-control", placeholder = "Contact #", id = "Contact", maxlength = "13" })

                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Date of Birth</label>
                                        <div class="col-sm-9">
                                            @*<input class="form-control" type="Date" value="">*@
                                            @Html.EditorFor(x => x.Date_of_Birth, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "DOB" } })
                                            @Html.ValidationMessageFor(x => x.Date_of_Birth, null, new { style = "color:red" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                            @*<input class="form-control" type="text" value="">*@
                                            @Html.TextBoxFor(x => x.Email, null, new { @Class = "form-control", placeholder = "Email", id = "Email" })
                                            @Html.ValidationMessageFor(x => x.Email, null, new { style = "color:red" })
                                        </div>
                                    </div>

                                    <div class="seperator"></div>

                                    <div class="text-center">

                                        <h4>Address</h4>



                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Address</label>
                                        <div class="col-sm-9">
                                            @*<input class="form-control" type="text" value="">*@
                                            @Html.TextBoxFor(x => x.Address, null, new { @Class = "form-control", placeholder = "Address", id = "Address" })
                                            @Html.ValidationMessageFor(x => x.Address, null, new { style = "color:red" })

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">City</label>
                                        <div class="col-sm-9">
                                            @*<input class="form-control" type="text" value="">*@
                                            @Html.TextBoxFor(x => x.City, null, new { @Class = "form-control", placeholder = "City", id = "City" })
                                            @Html.ValidationMessageFor(x => x.City, null, new { style = "color:red" })
                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">State</label>
                                        <div class="col-sm-9">
                                            @*<input class="form-control" type="text" value="">*@
                                            @Html.DropDownListFor(x => x.State, new List<SelectListItem>
                          { new SelectListItem() { Text = "Please Select" },
                            new SelectListItem() { Text = "Sindh" },
                             new SelectListItem() { Text = "Punjab" },
                              new SelectListItem() { Text = "Balochistan" },
                               new SelectListItem() { Text = "Khyber Pakhtunkhwa" },
                                new SelectListItem() { Text = "Gilgit Baltistan" },
                          }, new { @Class = "form-control", id = "State" })
                                            @Html.ValidationMessageFor(x => x.State, null, new { style = "color:red" })
                                        </div>
                                    </div>
                                </div>
                                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

                                @*</form>*@
                                <div class="row">
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-9">
                                        <button type="submit" class="btn">Create Teacher</button>
                                        <!-- <button type="reset" class="btn-secondry">Cancel</button> -->
                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                </div>

                <div class="widget-inner">

                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Teacher ID</th>
                                            <th>Teacher Name</th>
                                            <th>Date Of Birth</th>
                                            <th>NIC</th>
                                            <th>Gender</th>
                                            <th>Modify</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>

                                    <tbody id="SetStudentList">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Your Profile Views Chart END-->
                    </div>

                </div>
            </div>
        <div class="ttr-overlay"></div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>

<script>
    $("#NIC").inputmask({ mask: "99999-9999999-9" });
</script>
<!-- External JavaScripts -->
<script src="~/Content/adminassets/assets/js/jquery.min.js"></script>
<!-- Teacher CRUD JavaScripts -->
<script src="~/Content/teacherassets/teachermodal.js"></script>
<script>
    function EditTeacherRecord(id) {
        var url = "/Admin/UpdateeTeachers?Teacher_ID=" + id;

        $("#TeacherModifyModal").modal("show");
        $.ajax({
            type: "GET",
            url: url,

            success: function (data) {
                var obj = JSON.parse(data);

                $("#Teacher_N1").val(obj.Teacher_Name);
                var aw = obj.Teacher_Picture;
                var abs = aw.split("~");
                $('#pics1').attr('src', abs[1]);
                $("#NIC1").val(obj.NIC);
                $("#Gen1").val(obj.Gender);
                var a = obj.Date_of_Birth;
                var ab = a.split("T");
                $("#DOB1").val(ab[0]);
                $("#Contact1").val(obj.Contact);
                $("#Email1").val(obj.Email);
                $("#Address1").val(obj.Address);
                $("#City1").val(obj.City);
                $("#State1").val(obj.State);
                $("#Updateteacher").val(obj.Teacher_ID);

            }
        })
    }
    function DeleteTeacherRecord(id) {
        var url = "/Admin/DeleteTeacher?Teacher_ID=" + id;
        $.ajax({
            type: "GET",
            url: url,

            success: function (data) {
                location.reload();
            }
        })
    }
    $("#Updateteacher").click(function () {
        var data1 = {
            Teacher_ID: $("#Updateteacher").val(),
            Email: $("#Email1").val(),
            Teacher_Name: $("#Teacher_N1").val(),
            NIC: $("#NIC1").val(),
            Gender: $("#Gen1").val(),
            Date_of_Birth: $("#DOB1").val(),
            Contact: $("#Contact1").val(),
            Address: $("#Address1").val(),
            City: $("#City1").val(),
            State: $("#State1").val(),


        };



        $.ajax({
            type: "Post",
            url: "/Teacher/UpdatesTeacher",
            data: data1,
            success: function (result) {
                abcd();
                alert("Success");

            }
        })
    })
    function abcd() {
        var imgs = $('#file')[0].files[0];
        var img = $('#files')[0].files[0];
        var Db = new FormData();
        Db.append("datas", img);
        Db.append("id", $("#Updateteacher").val());
        $.ajax({
            type: "Post",
            url: "/Teacher/UpdatesTeacherPic",
            data: Db,
            contentType: false,
            processData: false,
            success: function (result) {
                alert("Successfully Updated....");
                window.location.href = "/Admin/Index";
                $("#MyModal").modal("hide");

            }
        })
    }

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Content/phonenumberfieldassets/js/intlTelInput.js"></script>
<link href="~/Content/phonenumberfieldassets/css/intlTelInput.css" rel="stylesheet" />

<script>

    $(document).ready(function () {


        $("#teacherbtn").click(function () {
            var url = "/Admin/UpdateUserProfile?User_ID=" + $("#prof").val();
            $("#TeacherCreateModal").modal("show");
        });
        $.get("/Admin/GetStudentList", null, DataBind);

        function DataBind(StudentList) {

            var SetData = $("#SetStudentList");
            for (var i = 0; i < StudentList.length; i++) {
                var db = new Date(parseInt(StudentList[i].Date_of_Birth.substr(6)));
                //var db = new Date(StudentList[i].Date_of_Birth.match(/\d+/)[0] * 1);
                var Data = "<tr class='row_>" + StudentList[i].Teacher_ID + "'>" +
                    "<td id='teacher_ids'>" + StudentList[i].Teacher_ID + "</td>" +
                    "<td>" + StudentList[i].Teacher_Name + "</td>" +
                    "<td>" + db + "</td>" +
                    "<td>" + StudentList[i].NIC + "</td>" +
                    "<td>" + StudentList[i].Gender + "</td>" +
                    "<td>" + "<Button  onclick='EditTeacherRecord(" + StudentList[i].Teacher_ID + ")' class='btn' href='#' ><center><i class='bi bi-pen'></i></center></Button>" + "</td>" +
                    "<td>" + "<Button onclick='DeleteTeacherRecord(" + StudentList[i].Teacher_ID + ")' class='btn' href='#' ><center><i class='fa fa-trash'></i></center></Button>" + "</td>" +

                    "</tr >";

                SetData.append(Data);

            }
        }




    });

</script>


<script>

    var inputu = document.querySelector('#Contact1');
    window.intlTelInput(inputu, ({
        // options here
    }));
    var inputs = document.querySelector('#Contact');
    window.intlTelInput(inputs, ({
        // options here
    }));

    $(document).ready(function () {
        $('.iti__flag-container').click(function () {
            var countryCode = $('.iti__selected-flag').attr('title');

            var countryCode = countryCode.replace(/[^0-9]/g, '')
            var abc = $('#Contact1').val();
            var abcd = abc.split(" ");
            $('#Contact1').val("+" + countryCode + " " + abcd[1]);
        });
    });
    $(document).ready(function () {
        $('.iti__flag-container').click(function () {
            var countryCodes = $('.iti__selected-flag').attr('title');
            var countryCode = countryCodes.replace(/[^0-9]/g, '')
            $('#Contact').val("");
            $('#Contact').val("+" + countryCode + " " + $('#Contact').val());
        });
    });
</script>
@*<script type="text/javascript">

        $(document).ready(function () {


            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            function validate(file) {
                var ext = file.split(".");
                ext = ext[ext.length - 1].toLowerCase();
                var arrayExtensions = ["jpg", "jpeg", "png", "bmp", "gif"];

                if (arrayExtensions.lastIndexOf(ext) == -1) {
                    alert("This is not an allowed file type Please upload Picture");
                    $("#file").val("");
                }
            }
                    //$('INPUT[type="file"]').change(function () {
                    //    var ext = this.value.match(/\.(.+)$/)[1];
                    //    switch (ext) {
                    //        case 'jpeg':
                    //        case 'jpg':
                    //        case 'png':

                    //        $('.upload-button').attr('disabled', false);
                    //          break;
                    //          default:
                    //          alert('This is not an allowed file type Please upload jpg, jpeg, or png file.');
                    //          this.value = '';
                    //    }
                    //});

                //    $("#file").change(function (e) {
                //        var file = this.files[0], img;
                //        if (Math.round(file.size / (1024 * 1024)) > 2) { // make it in MB so divide by 1024*1024
                //            alert('Please select image size less than 2 MB');
                //            this.value = '';
                //        }

                //    });

                //    $(".file-upload").on('change', function () {
                //        readURL(this);
                //    });

                //    $(".upload-button").on('click', function () {
                //        $(".file-upload").click();
                //    });
                //});



    </script>*@


